@pichincha:registry=https://pkgs.dev.azure.com/BancoPichinchaEC/0f20bf47-c965-46fe-8bd4-91df57fbb2e7/_packaging/Framework/npm/registry/
//pkgs.dev.azure.com/BancoPichinchaEC/0f20bf47-c965-46fe-8bd4-91df57fbb2e7/_packaging/Framework/npm/registry/:username=BancoPichinchaEC
//pkgs.dev.azure.com/BancoPichinchaEC/0f20bf47-c965-46fe-8bd4-91df57fbb2e7/_packaging/Framework/npm/registry/:_password=eHhuZmRyZGFrdXl5Y2FkNWRna3pibnlzNGhpNXVhcGVhYXh3bWtpdnRvejNvb2l1dzJuYQ==
//pkgs.dev.azure.com/BancoPichinchaEC/0f20bf47-c965-46fe-8bd4-91df57fbb2e7/_packaging/Framework/npm/:username=BancoPichinchaEC
//pkgs.dev.azure.com/BancoPichinchaEC/0f20bf47-c965-46fe-8bd4-91df57fbb2e7/_packaging/Framework/npm/:_password=eHhuZmRyZGFrdXl5Y2FkNWRna3pibnlzNGhpNXVhcGVhYXh3bWtpdnRvejNvb2l1dzJuYQ==
legacy-peer-deps=true
